<aside class="sidebar">

  <div class="sidebar-header">
    <a href="{{ "/" | relative_url }}">
      Roadmap
    </a>
  </div>

  <nav class="sidebar-nav">

    <a href="{{ "/" | relative_url }}">
      LLM Essential
    </a>

    <a href="{{ "/docs/llm-fine-tune/" | relative_url }}">
      LLM Fine-tune
    </a>

    <a href="{{ "/docs/llm-distillation/" | relative_url }}">
      LLM Distillation
    </a>

    <a href="{{ "/docs/agent-framework/" | relative_url }}">
      Agent Framework
    </a>

    <a href="{{ "/docs/data-flywheel/" | relative_url }}">
      Data Flywheel
    </a>

  </nav>

</aside>