<aside class="sidebar">
  <div class="sidebar-header">
    <a href="{{ "/" | relative_url }}">
      LLM Essential
    </a>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a href="{{ "/" | relative_url }}">
          Home
        </a>
      </li>

      <li>
        <a href="{{ "/docs/llm-essential.html" | relative_url }}">
          LLM Essential
        </a>
      </li>

      <li>
        <a href="{{ "/docs/llm-fine-tune.html" | relative_url }}">
          LLM Fine-tune
        </a>
      </li>

      <li>
        <a href="{{ "/docs/llm-distillation.html" | relative_url }}">
          LLM Distillation
        </a>
      </li>

      <li>
        <a href="{{ "/docs/agent-framework.html" | relative_url }}">
          Agent Framework
        </a>
      </li>

      <li>
        <a href="{{ "/docs/data-flywheel.html" | relative_url }}">
          Data Flywheel
        </a>
      </li>
    </ul>
  </nav>
</aside>